body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #fcf8f8;
}

.all {
    display: inline-block;
    white-space: nowrap;
    padding: 50px;
}

.bar{
    margin-top: 50px; 
}

.sc {
    display: inline-block;
    white-space: nowrap;
    margin: 50px 50px 0 0;
    padding: 0 20px;
    font-family: monospace;
    border-left: 5px double #362928;
}

svg text {
    color: white;
    font-family: monospace;
}


.music text{
    font-family: sans-serif;
    font-size: 30px;
}
